pipeline/pl_foreach_inside_foreach.json
{
	"name": "pl_foreach_inside_foreach",
	"properties": {
		"activities": [
			{
				"name": "1st stage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_getmetadata_source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "1st Foreach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "1st stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('1st stage').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "2nd stage",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_source_getmetadata_2nd_stage",
									"type": "DatasetReference",
									"parameters": {
										"directoryName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "3rd stage",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "2nd stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "sub Directory"
								}
							],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline1pl_getsubdirectory",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"SubDirectory": {
										"value": "@activity('2nd stage').output.childItems",
										"type": "Expression"
									},
									"Directory": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}